#nav-sidebar-inner {
    background: #263544 !important;
}


thead {
    background-color: #1e293b !important;
}

thead th {
    color: white !important;
    font-weight: 600 !important;
}

table {
    border-collapse: collapse !important;
}

table th,
table td {
    border: 1px solid #d1d5db !important;
}

